<div class="row text-center mt-5">
    <div class="col">
        <h1>Contador</h1>
        <h2>{{contador}}</h2>
    </div>
</div>

<div class="row text-center mt-3">
    <div class="col">
        <button class="btn btn-primary" (click)="incrementar()">Incrementar</button>
        <button class="btn btn-info" (click)="decrementar()">Disminuir</button>
    </div>
</div>

<hr>

<div class="row text-center mt-3">
    <div class="col">
        <app-hijo [contador]="contador" (cambioContador)="contador = $event"></app-hijo>
    </div>
</div>